*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 61px);
}

.mynav{
    background-color: transparent !important;
    box-shadow: 1px 3px 9px 0px #bfa7a5;
    width: 100%;
    padding: 0;
    background: url(../images/nav-bg.jpg);
    position: fixed;
}
.mynav .mybrand{
    max-width: 201px;
    display: block;
    height: 61px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
.mynav .menu-btn{
    outline: 0;
}
.mynav .mybrand span{
    background-color: transparent;
    color: red;
    max-width: 100%;
    max-height: 70px;
    margin: auto;
}
.mynav .mybrand img{
    background-color: transparent;
    max-width: 100%;
    max-height: 61px;
    margin: auto;
}
.mynav .list{
    font-size: 17px;
    font-family: 'Arial';
}
.mynav .list li{
    padding-right: .5rem;
    padding-left: .5rem;
}
.mynav .list li a.nav-link{
    background-color: #FFF;
    color: green;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}
section.bg{
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-top: 61px;
    position: relative;
}




.content-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.content-box .dropzone-container{
    background: #FFF;
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-box .dropzone-container .dropzone{
    width: 100%;
    height: 100%;
    max-width: 95%;
    max-height: 95%;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px dashed #00daf3;
    color: #999;
    border-radius: 10px;
    min-height: 100px;
}
.content-box .dropzone-container .mydropzone{
    width: 100%;
    height: 100%;
    max-width: 50%;
    min-width: 130px;
    max-height: 50%;
    text-align: center;
    background-color: transparent;
    color: #999;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-selected{
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}
.menu-selected .menu-div{
    height: auto;
    text-align: left;
    display: none;
}

.info-div{
    position: absolute;
    height: 48%;
    top: 14%;
    right: 1%;
    background: #FFF;
    width: 16%;
}
.form-menu1{
    width: 100%;
    height: auto;
}
.box-container{
    position: absolute;
    top: 14.29%;
    height: 46.997%;
    left: 22.268421053%;
    width: 55.03%;
    background: #FFF;
}

@media only screen and (min-width:992px){
    .nav-container{
        max-width: 100%;
        width: 75%;
    }
}
@media only screen and (max-width:991px){
    .nav-container{
        max-width: 100%;
    }
    .mynav .list li a.nav-link{
        border-radius: 0;
        margin: 5px auto;
        text-align: center;
    }
    .mynav{
        padding: 0 30px;
        min-height: 61px;
        position: fixed;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 767px) and (orientation: portrait) {
    .content-box .dropzone-container .dropzone{
        font-size: 12px;
        min-height: 50%;
    }
}

@media only screen and (max-width: 650px) {
    .content-box .dropzone-container .dropzone{
        font-size: 12px;
    }
    /* body{
        margin-top:61px;
        background-image: linear-gradient(to right, #e1e4e9 , #cfd2d7);
    } */
}

@media only screen and (max-width: 300px) {
    .mynav .mybrand img{
        max-width: 85%;
    }
    .mynav{
        padding: 0;
    }
    .mynav .container-fluid{
        max-width: 100% !important;
        padding: 0 5px;
    }
}

/*Ipad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    section.bg{
        background-image: url(../images/background-ipad.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin-top: 61px;
        position: relative;
    }
}
/*Ipad pro*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2){
     section.bg{
        background-image: url(../images/background-ipad-pro.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin-top: 61px;
        position: relative;
    }
}
/*Phones*/
@media (max-width:480px){
    section.bg{
        background-image: url(../images/background-phones.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin-top: 61px;
        position: relative;
    }
}